<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.StationMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Station">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="OBJECTID" jdbcType="DECIMAL" property="objectid" />
    <result column="X" jdbcType="FLOAT" property="x" />
    <result column="Y" jdbcType="FLOAT" property="y" />
    <result column="USER_CNT" jdbcType="DECIMAL" property="userCnt" />
    <result column="EPARCHY_CODE" jdbcType="VARCHAR" property="eparchyCode" />
  </resultMap>
</mapper>